* {
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
  width: 100vw;
  overflow-x: hidden;
}

body {
  margin: 0px;
}

li {
  list-style-type: none;
}

li a {
  text-decoration: none;
}

.hide {
  position: absolute;
  visibility: hidden;
}

/* NAV */
nav {
  width: 980px;
  height: 36px;
  margin: auto;
  border: 1px solid #686868;
  position: relative;
  top: 20px;
  z-index: 2;
  border-radius: 7px;
  background-image: linear-gradient(
    to bottom,
    #626262 50%,
    #797979 50%
  );
}

#navList {
  display: flex;
  height: 100%;
  margin-top: 0px;
  padding-left: 0px;
  border-radius: 6px;
  justify-content: flex-start;
  background-image: url(images/gradientFade.png);
}

#navList li {
  width: 103px;
  height: 36px;
  position: relative;
  top: -1px;
  left: -1px;
  border-right: 1px solid #4b4b4b;
}

#nav1 {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-image: url(images/icons.png);
  background-position-x: 50%;
  background-position-y: -1.5%;
}

#nav2 {
  background-image: url(images/icons.png);
  background-position-x: 50%;
  background-position-y: 13.2%;
}

#nav3 {
  background-image: url(images/icons.png);
  background-position-x: 50%;
  background-position-y: 27.5%;
}

#nav4 {
  background-image: url(images/icons.png);
  background-position-x: 50%;
  background-position-y: 42%;
}

#nav5 {
  background-image: url(images/icons.png);
  background-position-x: 50%;
  background-position-y: 57.3%;
}

#nav6 {
  background-image: url(images/icons.png);
  background-position-x: 50%;
  background-position-y: 72%;
}

#nav7 {
  background-image: url(images/icons.png);
  background-position-x: 50%;
  background-position-y: 86.5%;
}

#nav8 {
  background-image: url(images/icons.png);
  background-position-x: 50%;
  background-position-y: 101%;
}

#searchBar {
  position: relative;
  top: -45px;
  left: 847px;
}

/* MAIN */
#mainSection {
  margin: auto;
  width: 1450px;
  height: 620px;
  background-image: url(images/bannerImage.jpg);
  background-position: center bottom;
  position: relative;
  top: -35px;
  background-repeat: no-repeat;
  background-size: 100%;
}

#mainText {
  margin: auto;
  width: 980px;
  position: relative;
  top: 150px;
}

#imageChange {
  width: 980px;
  height: 32px;
  background-image: url(images/watchYourVerse.png);
}

#imageChange:hover {
  background-position: bottom;
}

#links {
  width: 1475px;
  margin: auto;
  margin-top: -30px;
}

#links img {
  display: inline-flex;
  margin: 0px;
  width: 24.4%;
  position: relative;
  left: 10px;
}

/* FOOTER */
#footerWrapper {
  width: 980px;
  font-size: 0.65em;
  color: #6e6e6e;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

#footerWrapper ul {
  display: flex;
}

#footerWrapper ul li {
  padding-right: 5px;
}

#footerTop {
  display: flex;
  justify-content: space-between;
}

#footerTop a {
  text-decoration: none;
}

#footerBottom {
  display: flex;
}

#leftLine {
  border-left: 1px solid #cccccc;
  padding-left: 5px;
}